
  
  <div class="form-group row required">
    <label class="col-form-label col-sm-2 control-label" for="nom">Nom</label>
    <div class="col-sm-7">
      <input class="form-control" name="nom" value="<%= model.nomsortie  %>" />
    </div>
  </div>
  


  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="prix">Prix</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="prix" value="<%= model.prixsortie %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="nb">Nb Participants</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="nb" value="<%= model.nbparticipants %>" />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="lieu ">Lieu</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="lieu" value="<%= model.lieusortie  %>" />
    </div>
  </div>

  <div class="form-group row required">
    <label class="col-form-label col-sm-2 control-label" for="prod">Reference produit</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="prod" value="<%= model.idproduit  %>" />
    </div>
  </div>
  