<%- include("../_header") -%>

<h1>Ajouter une sortie</h1>

<form action="/sorties/create" method="post">
  <div class="form-horizontal">
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="id">Id Sortie :</label>
      <div class="col-sm-8">
        <input autofocus class="form-control" name="id" value="<%= model.idsortie  %>" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="date">Date :</label>
      <div class="col-sm-8">
        <input autofocus class="form-control" name="date" value="<%= model.datesortie %>" />
      </div>
    </div>
    <%- include("_editor") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Ajouter" class="btn btn-default btn-success" />
        <a class="btn btn-outline-dark cancel" href="/sorties">Annuler</a>
      </div>
    </div>
  </div>
</form>

<%- include("../_footer") -%>