<%- include("../_header") -%>

<h1> Adhérents du BDE </h1>
<% if(typeof (error) != "undefined"){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%=  error  %></strong>
  </div>
<% } %>
<div class="table-responsive-sm">
  <table class="table table-hover" id="adherents">
    <thead>
      <tr>
        <th>N°</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Promotion</th>
        <th>Role</th>
        <th>Tel</th>
        <th>Mail</th>
        <th>Adresse</th>
        <th>Ardoise</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/adherents/create">Ajouter</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const adherent of model) { %>
        <tr>
          <td><%= adherent.numadherent  %></td>
          <td><%= adherent.prenomadherent  %></td>
          <td><%= adherent.nomadherent  %></td>
          <td><%= adherent.promotionadherent   %></td>
          <td><%= adherent.roleadherent   %></td>
          <td><%= adherent.teladherent   %></td>
          <td><%= adherent.mailadherent   %></td>
          <td><%= adherent.adresseadherent   %></td>
          <td><%= adherent.ardoiseadherent   %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-warning" href="/adherents/edit/<%= adherent.numadherent %>">Modifier</a>
            <a class="btn btn-sm btn-danger" href="/adherents/delete/<%= adherent.numadherent %>">Effacer</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Inclure Datatables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

  <!-- Initialiser Datatables -->
  <script>
    $(document).ready(function() {
        $('#adherents').DataTable();
    });
  </script>
</div>

<%- include("../_footer") -%>