<%- include("../_header") -%>

<h1> Catalogue des produits du BDE </h1>
<% if(typeof (error) != "undefined"){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%=  error  %></strong>
  </div>
<% } %>
<div class="table-responsive-sm">
  <table class="table table-hover" id="produits">
    <thead>
      <tr>
        <th>Id Produit</th>
        <th>Nom</th>
        <th>Stock</th>
        <th>Prix d'achat</th>
        <th>Prix de vente</th>
        <th>Type</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/produits/create">Ajouter</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const produit of model) { %>
        <tr>
          <td><%= produit.idproduit  %></td>
          <td><%= produit.nomproduit  %></td>
          <td><%= produit.qteproduitenstock   %></td>
          <td><%= produit.prixachatproduit   %></td>
          <td><%= produit.prixventeproduit   %></td>
          <td><%= produit.typeproduit   %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-warning" href="/produits/edit/<%= produit.idproduit %>">Modifier</a>
            <a class="btn btn-sm btn-danger" href="/produits/delete/<%= produit.idproduit %>">Effacer</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Inclure Datatables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

  <!-- Initialiser Datatables -->
  <script>
    $(document).ready(function() {
        $('#produits').DataTable();
    });
  </script>

</div>

<%- include("../_footer") -%>