<%- include("../../_header") -%>

<h1> Contenu de la transaction <%= id %> </h1>
<% if(typeof (error) != "undefined"){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%=  error  %></strong>
  </div>
<% } %>
<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id Produit</th>
        <th>Nom</th>
        <th>Stock</th>
        <th>Type</th>
        <th>Quantité</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/transactions/contenu/<%= id %>/create">Ajouter</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const transaction of model) { %>
        <tr>
          <td><%= transaction.idproduit   %></td>
          <td><%= transaction.nomproduit  %></td>
          <td><%= transaction.qteproduitenstock   %></td>
          <td><%= transaction.typeproduit   %></td>
          <td><%= transaction.qteproduittransaction    %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-warning" href="/transactions/contenu/<%= id %>/edit/<%= transaction.idproduit %>">Modifier</a>
            <a class="btn btn-sm btn-danger" href="/transactions/contenu/<%= id %>/delete/<%= transaction.idproduit %>">Effacer</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("../../_footer") -%>