<%- include("../_header") -%>

<h1> Historique des transactions </h1>
<% if(typeof (error) != "undefined"){ %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%=  error  %></strong>
  </div>
<% } %>
<div class="table-responsive-sm">
  <table class="table table-hover" id="transactions">
    <thead>
      <tr>
        <th>Id Transaction</th>
        <th>Type</th>
        <th>Date</th>
        <th>Methode de paiement</th>
        <th>N° Adherent</th>
        <th>Montant(€)</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/transactions/create">Ajouter</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const transaction of model) { %>
        <tr>
          <td><%= transaction.idtransaction   %></td>
          <td><%= transaction.typetransaction   %></td>
          <td><%= moment(transaction.datetransaction).format('YYYY-MM-DD')   %></td>
          <td><%= transaction.methodepaiement    %></td>
          <td><%= transaction.numadherent    %></td>
          <td><%= transaction.montanttransaction    %></td>
          <td class="d-print-none">
            <a class="btn btn-sm btn-warning" href="/transactions/edit/<%= transaction.idtransaction %>">Modifier</a>
            <a class="btn btn-sm btn-danger" href="/transactions/delete/<%= transaction.idtransaction %>">Effacer</a>
            <a class="btn btn-sm btn-danger" href="/transactions/contenu/<%= transaction.idtransaction %>">Contenu</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Inclure Datatables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

  <!-- Initialiser Datatables -->
  <script>
    $(document).ready(function() {
        $('#transactions').DataTable();
    });
  </script>

</div>

<%- include("../_footer") -%>